{% extends 'covidtrace/index.html' %}

{% load static %}

{% block content %}

<div class="page-content-wrapper">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card m-b-20">
                                        <div class="card-body">

                                            <h4 class="mt-0 header-title">Cities and Municipalities</h4>
                                            <table class="table table-striped mb-0">
                                                <thead>

                                                <tr>
                                                    <th style="width: 20%;">City Name</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                    <th>Class</th>
                                                    <th>Remarks</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for cm in citymun %}
                                                    <tr>
                                                        <td>{{ cm.cmdesc }}</td>
                                                        <td>{{ cm.latitude }}</td>
                                                        <td>{{ cm.longitude }}</td>
                                                        <td>{{ cm.cmclass }}</td>
                                                        <td>{{ cm.remarks }}</td>
                                                        <td><a class = "btn btn-primary waves-effect waves-light btn-info" href = "">Update</a></td>
                                                        <td><a class = "btn btn-primary waves-effect waves-light btn-danger" href = "">Delete</a>
                                                        </td>
                                                    </tr>


                                                {% endfor %}

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div> <!-- end col -->
                            </div> <!-- end row -->
                        </div>

{% endblock %}