            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title"></li>
                            <li>
                                <a href="{% url 'barangay' %}" class="waves-effect">
                                    <i class="mdi mdi-home"></i><span class="float-right"></span> <span> Barangay</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'citymun' %}" class="waves-effect">
                                    <i class="mdi mdi-city"></i><span class="float-right"></span> <span> City/Municipality </span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'map' %}" class="waves-effect">
                                    <i class="mdi mdi-map"></i><span class="float-right"></span> <span> Map </span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'create_establishment' %}" class="waves-effect">
                                    <i class="mdi mdi mdi-key"></i><span class="float-right"></span> <span> Establishment </span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'create_visitor' %}" class="waves-effect">
                                    <i class="mdi mdi-human-handsdown"></i><span class="float-right"></span> <span> Visitor </span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'create_system_user' %}" class="waves-effect">
                                    <i class="mdi mdi-map"></i><span class="float-right"></span> <span> Account </span>
                                </a>
                            </li>



                      </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix">

                    </div>

                </div>
                <!-- Sidebar -left -->

            </div>